@font-face {
  font-family: "Vampire";
  src: url("../fonts/vampire_wars/Vampire\ Wars.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ArtifaktElement", sans-serif;
  scroll-behavior: smooth;
}

/* Hide scroll bar for all elements */
::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.section-container {
  background: url("../img/Background.png");
}

.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.eye:after {
  /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}
